.service-section-2 img {
  object-fit: cover;
  flex: 1;
  height: 100%;
  background-color: #fff;
}

.service-section-2 {
  position: relative;
  justify-content: center;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  object-fit: contain;
}

@media screen and (max-width: 768px) {

  .service-section-2 img {
    flex: 1;
    height: 80%;
    background-color: #fff;
  }
}

/* .service-section-2 {
  background: url('../../lib/Images/row-background-image-1.png') center center/cover no-repeat;
  height: 100vh;
  width: 100%;
  display: flex;
  position: absolute;
  left: 50%;
  background-color: #fff;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
  object-fit: contain;
} */

.service-section-2 > h1 {
  position: absolute;
  background: none;
  color: #262626;
  top: 200px;
  left: 50%;
  width: 100%;
  font-size: 60px;
}

.service-section-2 > h2 {
  position: absolute;
  background: none;
  color: #fff;
  top: 300px;
  left: 50%;
  width: 100%;
  /* font-size: 100px;
  margin-top: -100px; */
}

.service-section-2 > p {
  position: absolute;
  background: none;
  color: #fff;
  top: 360px;
  left: 50%;
  width: 40%;
  /* font-size: 100px;
  margin-top: -100px; */
}

.service-section-2 > button {
  position: absolute;
  color: #fff;
  top: 520px;
  left: 50%;
  /* font-size: 100px;
  margin-top: -100px; */
}

.check-mark-section {
  display: grid;
  grid-template-columns: repeat(2, auto);
  position: absolute;
  /* color: #fff; */
  background: none;
  top: 600px;
  left: 50%;
  width: 50%;
  /* font-size: 100px;
  margin-top: -100px; */
}

.check-mark-section > div {
  background: none;
}

.check-mark-section > div > div {
  background: none;
}

.check-mark-section > div > div > h2 {
  background: none;
  color: #262626;
}

.check-mark-section > div > div > p {
  background: none;
  color: #fff;
}

.check-mark-section > div > img {
  background: none;
  margin-right: 10px;
  width: 40px;
  height: auto;
}